/*
 *  Red Theme
 *  By Valery
 *  on 10/5/2020
 */

html,body{
    border:none;
    padding: 0;
    margin: 0;
}

header .navbar-inner{
    background-color:#740303;
    background-image: -moz-linear-gradient(right,  #740303, #e00101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#740303), to(#e00101));
    background-image: -webkit-linear-gradient(right,  #740303, #e00101);
    background-image: -o-linear-gradient(right,  #740303, #e00101);
    background-image: linear-gradient(90deg,#740303,#e00101);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    height: 60px;
    border:none;
}

[dir=rtl] header .navbar-inner{
    background-image: -moz-linear-gradient(right, #e00101,#740303);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00101), to(#740303));
    background-image: -webkit-linear-gradient(right,  #e00101,#740303);
    background-image: -o-linear-gradient(right,  #e00101,#740303);
    background-image: linear-gradient(90deg, #e00101,#740303);
}

[dir=rtl] #container,
#container {
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
    position: absolute;
    min-width: 320px;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 4px !important;;
    margin:3px 0 5px 0;
    color: #495057;
    font-size: 15px;
    background: #fff;
    padding: 6px 12px !important;
    border: 1px solid #ccc !important;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.picker-input> input[type=text],
.ui-spinner> input[type=text]{
    padding-left: 6px !important;
    padding-right: 18px !important;
}

body textarea:enabled:focus,
body textarea:enabled:active,
body textarea:enabled.active,
body input[type]:enabled:focus:not(.ui-state-error),
body input[type]:enabled:active:not(.ui-state-error),
body input[type]:enabled.active:not(.ui-state-error){
    border: 1px solid #c60101 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(232,62,140,.25);
}

.m2o-editor-controls i.fa:hover, .picker-icons i.fa:hover {
    color: #c33;
}

body select:enabled:focus,
body select:enabled:active,
body select:enabled.active{
    border: 1px solid #0101c6 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(62,140,232,.25);
}

.ui-menu .ui-menu-item a {
    color: #495077;
}

.slick-headerrow-columns .slick-headerrow-column input[type=text]{
    margin: 0px !important;
    border-radius: 0px !important;
    height: 25px !important;
    
}

.progress {
    margin:4px 0 !important;
}

.btn,
.btn:hover{
    background-image: none;
    background-color: #ce0202;
    color:#fff;
    text-shadow: none;
}

.btn.btn-default,
.btn.btn-default:hover{
    background-color: #68B8FB;
}

.btn:enabled:focus,
.btn:enabled:active,
.btn:enabled.active{
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
}

.tag-select li.tag-selector input[type="text"],
.tag-select li.tag-selector input[type="text"]:enabled:focus:not(.ui-state-error),
.tag-select li.tag-selector input[type=text]:enabled:active:not(.ui-state-error),
.tag-select li.tag-selector input[type=text]:enabled:hover:not(.ui-state-error){
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: auto !important;
}

.btn.button-ok{
    background-color: #ce0202;
}

.btn.button-close{
    background: #fff;
    color:#f00;
    border:1px solid #ccc;
}

.panel-layout .form-item-container.editable .tag-select {
    border-radius: 4px !important;
    margin-top:3px;
    margin-bottom: 5px;
    color: #495057;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc !important;
}

.panel-layout .form-item-container.editable .tag-select.focus{
    border: 1px solid #5151c6 !important;
    box-shadow: 0 0 0 .2rem rgba(62,140,232,.25);
}

.record-toolbar button, 
.record-toolbar .btn{
    padding:5px 10px
}


.record-toolbar button:not([disabled]), 
.record-toolbar .btn:not([disabled]) {
    background-color: #ce0202;
    border:1px solid #f5f5f5;
    
}

#view-tabs {
    background-color: #eef2f6;
}

.navigation-tabs {
    background: none;
}
