/*
 *  Red Theme
 *  By Valery
 *  on 10/5/2020
 */

html,body{
    border:none;
    padding: 0;
    margin: 0;
}

body .ui-widget, body .ui-widget .ui-widget {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

header .navbar-inner{
    background-color:#740303;
    background-image: -moz-linear-gradient(right,  #740303, #e00101);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#740303), to(#e00101));
    background-image: -webkit-linear-gradient(right,  #740303, #e00101);
    background-image: -o-linear-gradient(right,  #740303, #e00101);
    background-image: linear-gradient(90deg,#740303,#e00101);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26) !important;
    height: 60px;
    border:none;
}

[dir=rtl] header .navbar-inner{
    background-image: -moz-linear-gradient(right, #e00101,#740303);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00101), to(#740303));
    background-image: -webkit-linear-gradient(right,  #e00101,#740303);
    background-image: -o-linear-gradient(right,  #e00101,#740303);
    background-image: linear-gradient(90deg, #e00101,#740303);
}

[dir=rtl] #container,
#container {
    left: 0px;
    right: 0px;
    top: 60px;
    bottom: 0px;
    position: absolute;
    min-width: 320px;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 4px !important;;
    margin:3px 0 5px 0;
    color: #495057;
    font-size: 15px;
    background: #fff;
    padding: 6px 12px !important;
    border: 1px solid #ccc !important;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.picker-input> input[type=text],
.ui-spinner> input[type=text]{
    padding-left: 6px !important;
    padding-right: 18px !important;
}

body textarea:enabled:focus,
body textarea:enabled:active,
body textarea:enabled.active,
body input[type]:enabled:focus,
body input[type]:enabled:active,
body input[type]:enabled.active{
    border: 1px solid #c60101 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(232,62,140,.25);
}

.m2o-editor-controls i.fa:hover, .picker-icons i.fa:hover {
    color: #c33;
}

body select:enabled:focus,
body select:enabled:active,
body select:enabled.active{
    border: 1px solid #0101c6 !important;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(62,140,232,.25);
}

.ui-menu .ui-menu-item a {
    color: #495077;
}

.slick-headerrow-columns .slick-headerrow-column input[type=text]:active,
.slick-headerrow-columns .slick-headerrow-column input[type=text]:focus,
.slick-headerrow-columns .slick-headerrow-column input[type=text]{
    margin: 0px !important;
    border-radius: 0px !important;
    height: 25px !important;
    border:none !important;
}

.progress {
    margin:4px 0 !important;
}

.panel-layout .label-item {
    margin-bottom: 3px !important;
    
}

.btn,
.btn:hover{
    background-image: none;
    background-color: #ce0202;
    color:#fff;
    text-shadow: none;
}

.btn.btn-default,
.btn.btn-default:hover{
    background-color: #ce0202;
}

.btn:enabled:focus,
.btn:enabled:active,
.btn:enabled.active{
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5);
}

.tag-select li.tag-selector input[type="text"],
.tag-select li.tag-selector input[type="text"]:enabled:focus:not(.ui-state-error),
.tag-select li.tag-selector input[type=text]:enabled:active:not(.ui-state-error),
.tag-select li.tag-selector input[type=text]:enabled:hover:not(.ui-state-error){
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: auto !important;
}

.btn.button-ok{
    background-color: #ce0202;
}

.btn.button-close{
    background: #fff;
    color:#f00;
    border:1px solid #ccc;
}

.panel-layout .form-item-container.editable .tag-select {
    border-radius: 4px !important;
    margin-top:3px;
    margin-bottom: 5px;
    color: #495057;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc !important;
    padding-left:2px;
    
}

a {
    color: #be0202;
}

a:hover, 
a:focus {
    color: #ce0202;
    text-decoration: underline;
}

.panel-layout .form-item-container.editable .tag-select.focus{
    border: 1px solid #5151c6 !important;
    box-shadow: 0 0 0 .2rem rgba(62,140,232,.25);
}

.record-toolbar button, 
.record-toolbar .btn{
    padding:5px 10px
}

.record-toolbar button[disabled], 
.record-toolbar .btn[disabled],
.record-toolbar button[disabled]:hover, 
.record-toolbar .btn[disabled]:hover,
.record-toolbar button[disabled]:focus, 
.record-toolbar .btn[disabled]:focus{
   color: #666;
   background-color: #e6e6e6;
}

.record-toolbar .delete-button .dropdown-toggle {
    padding: 5px 4px;
}

.record-toolbar button:not([disabled]), 
.record-toolbar .btn:not([disabled]) {
    background-color: #ce0202 !important;
    border:1px solid #f5f5f5;
}

.record-toolbar button:not([disabled]):hover, 
.record-toolbar .btn:not([disabled]):hover,
.record-toolbar button:not([disabled]):focus, 
.record-toolbar .btn:not([disabled]):focus,
.record-toolbar button:enabled:active, 
.record-toolbar .btn:enabled:active,
.record-toolbar button:not([disabled]).active, 
.record-toolbar .btn:not([disabled]).active{
    box-shadow: none;
    color:#fff;
}

.record-toolbar .caret{
    border-top: 4px solid #fff !important;
}

#view-tabs {
    background: #eef2f6;
}

.navigation-tabs {
    background: #eef2f6;
    border-bottom: none;
}

.nav-tabs-wrap {
    background: #fff; 
    border-bottom: none;
}

.nav-tabs-strip {
    background: #eef2f6;
    border-bottom: none;
}

.nav-tabs-main.nav-tabs {
    height: 38px;
    background: #eef2f6;
    border-bottom:1px solid #DB2828;
}

.nav-tabs.nav-tabs-main > li > a {
    padding-bottom: 4px;
}

.nav-tabs.nav-tabs-main > li {
    margin-right: 0;
    margin-bottom: 0;
}

.nav-tabs-main > li > a,
.nav-tabs-main > li > a:hover{
    border-bottom-color:#DB2828;
}

.nav-tabs.nav-tabs-main > li.active > a {
    border-left-color: #DB2828;
    border-right-color:#DB2828;
    border-bottom:1px solid #fff; 
}

.record-toolbar .navbar-inner {
    background-color: #fff;
    background-image: none;
    border-top: none;
}

.header .container-fluid {
    padding: 15px 4px;
}

.header .navbar .divider-vertical {
  display: none;
}

.header .navbar .nav > li > a {
    text-shadow: none;
    margin-left: 3px;
    margin-right: 3px;
}

.header .navbar .nav li.dropdown.open > .dropdown-toggle, 
.header .navbar .nav li.dropdown.active > .dropdown-toggle, 
.header .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none;
}

.header .navbar .nav > li > a:hover i,
.header .navbar .nav > li > a:active i,
.header .navbar .nav > li > a:focus i,
.header .navbar .nav > li > a.active i{
    color:#ccc;
}

.header .navbar .nav > li > a >i{
    color: #fff;
    font-size: 24px;
}

.header .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.header .navbar .nav li.dropdown > .dropdown-toggle .caret:hover,
.header .navbar .nav li.dropdown > .dropdown-toggle .caret:focus,
.header .navbar .nav li.dropdown > .dropdown-toggle .caret:active{
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.header .navbar .nav .dropdown-menu {
    top:50px;
    background-color: #fff;
    border-top: 4px solid #e94344;
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19),0 8px 17px 0 rgba(0,0,0,.2);
    padding:0px;
}

.header .navbar .nav > li > .dropdown-menu::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid #e94344;
    top:-12px;
}

.header .navbar .nav > li > .dropdown-menu::after {
    display: none;
}

header .dropdown-menu > li > a:hover{
   background-color: #f4f4f4;
    background-image: none;
    color:unset;
}

header .navbar .nav-shortcuts .nav-link-tasks .badge {
    position: absolute;
    right: 4px;
    top: 2px;
    background-color: #3eb839;
    color: #fff;
    border-radius: 50%;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    width:unset;
    height: unset;
}

#sidebar{
    background-color: #fff;
    background-image: linear-gradient(90deg,#fff,#fff);
}

#sidebar>.ng-isolate-scope{
    margin-top: 16px;
    padding-bottom: 120px;
}


[ui-nav-tree] .nav-search-toggle .fa-angle-down::before{
  content: '\f002';
    text-align: center;
    color: rgba(200,200,200,0.4);
    line-height: 0;
    margin: 5px 4px;
}

[ui-nav-tree] .nav-search-toggle .fa-angle-down:hover::before{
    color: #DB2828;
}

[ui-nav-tree] .nav-search-toggle {
  margin-top: 8px;
    margin-bottom: 15px;  
}

[ui-nav-tree] .nav-search input::after{
    content: '\f002';
    display: block !important;
    position: absolute;
    width:24px;
    top: 3px;
    right:211px !important;
    color:#aaa;
    /*! position: absolute; */
}

[ui-nav-tree] .nav-search input {
    margin: -10px 0 0px 0 !important;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    border-radius: 14px !important;
}

.nav-tree ul{
   background: #fff;
}

.nav-tree  li>a {
    text-shadow: none;
    color: #292b2c;
}

.nav-tree  li,
.nav-tree  li.open{
    border-left:none;
}

[dir=rtl] .nav-tree  li,
[dir=rtl] .nav-tree  li.open{
    border-left:none;
    border-right:none;
}

.nav-tree  li>a {
    text-shadow: none;
    color: #292b2c;
}

.nav-tree  li.open>a,
.nav-tree  li.active>a{
    border-left:4px solid #e94344;
    color:#e94344;
}

[dir=rtl] .nav-tree  li.open>a,
[dir=rtl] .nav-tree  li.active>a{
    border-right: 4px solid #e94344;
    border-left: none;
}

.nav-tree > li.open, 
.nav-tree > li>a {
    background-color: #fff;
}

.nav-tree li,
.nav-tree li>ul{
    background: #fff;
}

.nav-tree li > a:hover, 
.nav-tree li.active > a {
    color: #e94344;
    background-color: #e8e8e8;
    border-left-color: #e94344;
}

[dir=rtl] .nav-tree li > a:hover, 
[dir=rtl] .nav-tree li.active > a {
    border-right-color: #e94344;
    border-left: none;
}

.nav-tree > li > ul > li:last-child {
    margin-bottom: 0;
}

.nav-tree > li.open {
    border-left-color: #e94344 ;
    transition: all .35s ease;
}

[dir=rtl] .nav-tree > li.open {
    border-right-color: #e94344 ;
    border-left: none ;
}

.nav-tree li > a:hover{
    color: unset;
    background-color: #f4f4f4;
    border-left-color: #e94344;
}

[dir=rtl] .nav-tree li > a:hover{
    border-right-color: #e94344;
    border-left: none;
}

.nav-tree li > a>span.nav-icon{
    color: #777;
    background: none !important;
    text-shadow: none;
    box-shadow: none;
    border-left-color: #e94344;
}

[dir=rtl] .nav-tree li > a>span.nav-icon{
    border-right-color: #e94344;
    border-left: none;
}

.nav-tree li.folder > a::after {
   color:#999;
    z-index: 2;
}

.nav-tree li>a{
    padding-top:10px;
    padding-bottom: 10px;
}

.cards-view .kanban-card-container .kanban-card {
  background-image: url('img/hexgon-pattern.png'); 
  background-position-x: left;
  background-color: #fff7ec; 
  background-position-y: bottom 0;
  background-repeat: repeat-y;
  border-style:solid;
  border-width:1px 2px 3px 1px; 
  border-color:#fca;
  border-radius: 4px
}

[dir=rtl] .cards-view .kanban-card-container .kanban-card {
  background-image: url('img/hexgon-pattern-rtl.png'); 
    background-position-x: right;
}

.cards-view .card-image img {
    border-radius: 32px;
    background: white;
    border-width:0px 1px 1px 0px;
    border-style: solid;
    border-color: #fcc;
}

.cards-view .card-image strong {
    color:#844;
}

.cards-view .btn{
    background-color: none;
    color: #ce0202;
}

.cards-view :hover .btn,
.cards-view .btn:hover{
    background-color: #ce0202;
    color: #fff;
}

.loading-container{
    top:30% !important;
}

.loading-counter {
  background-image: url('img/loader2.gif'); 
  background-position-x: right;
  background-color: #fff; 
  background-position-y: top 5px;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 48px;
  border-style:solid;
  border-width:1px; 
  border-color:#f00;
  border-radius: 8px;
  padding: 60px 20px 10px;
  color: #f00;
  font-size: 15px;
}

#offcanvas-toggle{
    margin: -7px 4px 10px 0px;
}

[dir=rtl] #offcanvas-toggle{
    margin: -7px 0px 10px 4px;
}

.view-pane {
 background: #fff;   
}

.mail-thread .mail-message-icons a.btn.dropdown-toggle,
.mail-thread .mail-message-icons a.btn.dropdown-toggle:hover,
.mail-thread .mail-message-icons a.btn.dropdown-toggle:focus,
.mail-thread .mail-message-icons .open a.btn.dropdown-toggle {
    background: #ce0202 !important;
}

.mail-thread .mail-message-icons a.btn.dropdown-toggle i,
.mail-thread .mail-message-icons a.btn.dropdown-toggle:hover i,
.mail-thread .mail-message-icons a.btn.dropdown-toggle:focus i,
.mail-thread .mail-message-icons .open a.btn.dropdown-toggle i {
    color:#fff;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
    color: #ffffff;
    background-color: #ce0202;
    background-image: none;
}

.dms-file-list .record-toolbar .breadcrumb {
    margin: 0;
    padding: 11px 8px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
}
